{% extends 'base.html' %}
{% block conteudo %}
<h1>Editoras Cadastradas</h1>
<p>
    <a href="{% url 'home' %}" class="btn btn-primary">
        <i class="fa fa-home"></i>
    </a>
</p>
<p>
    <a href="{% url 'editoras.novo' %}" class="btn btn-primary">
        <i class="fa fa-plus"></i> Cadastrar Editora
    </a>
</p>
<table class="table table-hover">
    <tr>
        <th>Nome</th>
        <th>Ações</th>
    </tr>
    {% for c in editoras %}
    <tr>
        <td>{{c.nome}}</td>
        <td>
            <a href="{% url 'editoras.editar' e.id %}" class="btn btn-warning">
                <i class="fa fa-pencil"></i>
            </a>
            <a href="{% url 'editoras.excluir' e.id %}" class="btn btn-danger" onclick=" return confirm('Deseja Excluir {{ e.nome }} ? ')">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}